body  {
	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	font-weight: normal;
	font-variant: normal;
	background-attachment: fixed;
	background-color: #FFF;
	background-image: url(../images/strip.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;
}
.wrapper {
	width: 960px;
	background-image:url(../images/header-bg.png);
	background-repeat:repeat-x;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px;
	background-color: #FFFFFF;
	margin: 25px auto; 
	border: 1px solid #000000;
	text-align: left; 
	overflow: hidden;
}
header {
	height: 120px;
	margin-bottom: 40px;
}
.logo {
	width: 300px;
	height: 100px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
}
.contacts {
	width: 400px;
	height: 100px;
	margin: 10px;
	line-height: 21px;
	font-size: 14px;
	float: right;
	display: block;
}
.contacts_item {
	width: 180px;
	padding-right: 20px;
	margin: 0;
	float: left;
}
.contacts-city-tel {
	width: 140px;
	margin: 0;
	float: left;
}
.contacts-city {
	margin: 0;

}
.contacts_tel {
	color: black;
	text-decoration: none;

}
main {
	display: flex;
	justify-content: space-between;
}
aside {
	width: 200px; 
	padding: 15px 10px 15px 20px;
}
aside nav ul  {
	margin: 0px;
	padding-left: 20px;
	line-height: 150%;
}
aside nav ul  li {
	margin:10px 0;
}
aside nav ul li a {
	color: black;
	text-decoration: none;
	display: block;
	font-size:13px;
}
.text-menu-2 {
	margin-top: 40px;
}
article {
	width:680px;
	padding: 0 20px; 
}
h1 {
	line-height:150%;
	font-size: 2em;
	-webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.bordered {
	display: flex;
	justify-content: center;
}
article img {
	margin:15px;
	border-radius:10px;
	border:5px solid #00698c;
}
footer {
	padding: 0 10px 0 20px;
	background-color: #DDDDDD; 
	height:90px;
	overflow: height;
}
footer p {
	margin: 0; 
	padding: 10px 0; 
	font-weight: bold;
}
footer a {
	color:black;
	text-decoration:none;
}